[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
psutil = "*"
click = "*"
snap-to-bucket = {path = "."}

[dev-packages]
sphinx = "*"
snap-to-bucket = {editable = true, path = "."}
pylint = "*"

[scripts]
build_packages = "python3 ./setup.py sdist bdist_wheel"
check_package = "python3 ./setup.py check"
